#wrldm_tbl_bobj
    width: 100%

    td:first-child
        width: 36px

.dragons-ui__country-timer
    display: inline
    float: right
    padding: 0 3px
    border-radius: 4px
    background: rgba(255, 255, 255, .15)
    text-shadow: 0 0 1px #000
    font-size: 10px
    color: #eee
    cursor: default