$color__background: #f3ecd4
$color__font: #430f02
$color__border: #e3e3e3
$color__blue: #60a2ce

%node
    border-radius: 5px
    box-shadow: 0 0 3px rgba(0, 0, 0, .25)
    background: $color__background

%item-hover
    background: lighten($color__background, 5%)
    color: $color__blue

#b_chat_clear
    display: none

.dragons-ui__chat-cleaner
    position: absolute
    top: 5px
    right: 5px
    visibility: hidden
    display: flex
    opacity: 0
    transition: visibility .15s linear, opacity .15s linear
    @extend %node

    &.dragons-ui__chat-cleaner_visible
        visibility: visible
        opacity: 1

    &__main-button
        padding: 8px 10px
        border-radius: 0 5px 5px 0
        border-left: 1px solid #e3e3e3
        font: 11px/11px Tahoma
        color: $color__font
        transition: all .15s linear
        cursor: pointer

        &:hover
            @extend %item-hover

    &__arrow
        position: relative
        width: 24px

        &:hover i > span
            background: $color__blue

        i > span
            position: absolute
            display: block
            top: 50%
            left: 50%
            width: 10px
            height: 1px
            margin-left: -5px
            background: $color__font
            transition-property: background
            transition-timing-function: linear

            &:first-child
                margin:
                    top: -3px
                transition-duration: .15s

            &:nth-child(2)
                margin:
                    top: 0px
                transition-duration: .225s

            &:last-child
                margin:
                    top: 3px
                transition-duration: .3s

    &__arrow:hover &__flyout
        visibility: visible
        margin-bottom: 0
        opacity: 1

    &__flyout
        visibility: hidden
        position: absolute
        right: 100%
        bottom: 0
        margin-bottom: 10px
        padding: 0 10px 0 0
        transition: all .15s linear
        opacity: 0
        z-index: 501

        &-content
            margin: 0
            padding: 0
            list-style-type: none
            @extend %node
        
        &-item
            padding: 10px 20px 10px 10px
            white-space: nowrap
            font: 12px/12px 'Trebuchet MS'
            color: $color__font
            transition: all .15s linear
            cursor: pointer

            &:hover
                @extend %item-hover

            &:first-child
                border-radius: 5px 5px 0 0
            
            &:last-child
                border-radius: 0 0 5px 5px

            &:before
                content: ''
                display: inline-block
                width: 7px
                height: 7px
                margin: 0 10px 0 0
                border-radius: 50%

            &_silenced
                &:hover
                    color: gray
                &:before
                    background: gray

            &_system
                &:hover
                    color: #801010
                &:before
                    background: #801010

            &_group
                &:hover
                    color: SLATEGRAY
                &:before
                    background: SLATEGRAY

            &_location
                &:hover
                    color: #006a76
                &:before
                    background: #006a76

            &_fight
                &:hover
                    color: #8a5656
                &:before
                    background: #8a5656

            &_alliance
                &:hover
                    color: #181b75
                &:before
                    background: #181b75

            &_clan
                &:hover
                    color: #54810f
                &:before
                    background: #54810f

            &_brown
                &:hover
                    color: #c50000
                &:before
                    background: #c50000