@import ../cfg

.switcher
    position: relative
    display: flex
    align-items: center
    cursor: pointer

    &:not(&_enabled):hover,
    &_loading
        background: lighten($color__background, 1%) //rgba(255, 255, 255, .015)

    &__box
        position: relative
        flex-shrink: 0
        display: inline-flex
        justify-content: center
        align-items: center
        width: 30px
        height: 10px

    &_enabled &__track
        background: darken($color__blue, 10%)

    &_enabled &__slider
        left: calc(100% - 10px)
        background: $color__blue
    
    &_enabled &__loader
        background: lighten($color__background, 2%) 

    &__loader
        visibility: hidden
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 100%
        transition: all .15s linear
        opacity: 0

        &_loading
            visibility: visible
            opacity: 1
            background: lighten($color__background, 1%) 

    &__track
        width: 80%
        height: 3px
        border-radius: 2px
        background: darken(#999, 10%)
        transition: background .25s linear

    &__slider
        position: absolute
        top: 0
        left: 0
        width: 10px
        height: inherit
        border-radius: 50%
        background: #999
        box-shadow: $shadow
        transition: all .25s ease-in-out